@import 'styles/variables.scss';

.link {
    &Item {
        position: relative;
        display: flex;
        width: 100%;
        // background-color: $color-primary;
        align-items: center;
        justify-content: center;
        line-height: 1;
        font-size: 21px;
        transition: all 150ms ease-in 0ms;
        font-weight: 400;
        cursor: pointer;
        border-bottom: $border;
        overflow: hidden;
        transform: translateY(0px);
        $item: &;

        &:nth-child(4) {
            border-bottom-width: 0px;
        }

        // &:hover {
        //     background-color: rgba(0,0,0,0.1);
        // }

        &Start, &End {
            width: 100%;
            height: 100%;
            padding: 28px;
            transition: transform 300ms cubic-bezier(.66,.06,.53,.66);
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
        }

        &:hover, &:focus {
            #{$item}Start, #{$item}End {
                transform: translateY(-80px);
                box-shadow: none;
                border: 0px none transparent;
                outline: none;
            }
        }

        &End {
            position: absolute;
            top: 80px;
            background-color: white;
            color: black;
        }
    }

    &List {
        position: relative;
        margin: 16px;
        outline: $border;
        outline-offset: -1px;
    }
}